<footer class="footer bg-dark py-3 mt-auto" style="justify-content: center;">
    <div class="container" style="margin: auto; max-width:fit-content;">
        <span class="text-muted" style="margin: auto; text-align: center;">&copy;2021</span>
    </div>
</footer>